<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.manhvan.datn_mocsneaker">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".View.MainChiTietKhachHang"></activity>
        <activity android:name=".View.MainQuanLyKhachHang" />
        <activity android:name=".View.MainDoiMatKhau" />
        <activity android:name=".View.MainXacNhanMatKhau" />
        <activity android:name=".View.MainUserInfo" />
        <activity android:name=".View.MainVertifyOTP" />
        <activity android:name=".View.MainProductDetail" />
        <activity android:name=".View.MainRegister" />
        <activity android:name=".View.MainLogin" />
        <activity
            android:name=".MainActivity2"
            android:label="@string/title_activity_main2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".View.ViewQuanLyNhanVIen" />
        <activity android:name=".View.ViewThemNhanVien" />
        <activity android:name=".View.MainSuaNhanVIen" />
    </application>

</manifest>