<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.manhvan.datn_mocsneaker">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".View.QuanLySanPham.MainSuaSanPham"></activity>
        <activity android:name=".View.QuanLySanPham.MainQLThemSanPham" />
        <activity android:name=".View.MainTHongTinCuaHang" />
        <activity android:name=".View.QLThongKeBaoCao.MainThongKeBaoCao" />
        <activity android:name=".View.QuanLyDonHang.MainOrderDetail" />
        <activity android:name=".View.QuanLyDonHang.MainShowListOrdersKH" />
        <activity android:name=".View.QuanLyDonNhapHang.MainChiTietDonNhap" />
        <activity android:name=".View.QuanLyDonNhapHang.MainProductInsert" />
        <activity android:name=".View.QuanLyDonNhapHang.MainQLThemDonNhapHnag" />
        <activity android:name=".View.QuanLySanPham.MainQuanLySanPham" />
        <activity android:name=".View.QuanLySanPham.MainTimKiemTenSanPham" />
        <activity android:name=".View.QuanLyDonHang.ViewGioHang" />
        <activity android:name=".View.QuanLyKhachHang.MainChiTietKhachHang" />
        <activity android:name=".View.QuanLyKhachHang.MainQuanLyKhachHang" />
        <activity android:name=".View.QuanLyTaiKhoan.MainDoiMatKhau" />
        <activity android:name=".View.QuanLyTaiKhoan.MainXacNhanMatKhau" />
        <activity android:name=".View.QuanLyKhachHang.MainUserInfo" />
        <activity android:name=".View.QuanLyTaiKhoan.MainVertifyOTP" />
        <activity android:name=".View.QuanLySanPham.MainProductDetail" />
        <activity android:name=".View.QuanLyTaiKhoan.MainRegister" />
        <activity android:name=".View.QuanLyTaiKhoan.MainLogin" />
        <activity
            android:name=".MainActivity2"
            android:label="@string/title_activity_main2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".View.QuanLyNhanVien.ViewQuanLyNhanVIen" />
        <activity android:name=".View.QuanLyNhanVien.ViewThemNhanVien" />
        <activity android:name=".View.QuanLyNhanVien.MainSuaNhanVIen" />
        <activity android:name=".View.QuanLySanPham.ViewSanPham" />
        <activity android:name=".View.QuanLyDonNhapHang.MainQLNhapHangDanhSach" />
        <activity android:name=".View.QuanLyTaiKhoan.MainQuenMatKhau1" />
        <activity android:name=".View.QuanLyTaiKhoan.MainGuiMaXacThucQuenMK" />
        <activity android:name=".View.QuanLyTaiKhoan.MainDatLaiMatKhauQuenMK" />
    </application>

</manifest>